text;titanfall;50;50;Credits;50;_
text;titanfall;50;150;Developers :;50;_
text;titanfall;50;200;Come Fougere;50;_
text;titanfall;50;250;Valentin Dunon;50;_
text;titanfall;50;300;stivgammer;50;_
text;titanfall;50;400;Musics :;50;_
text;titanfall;50;450;Cosmology - Stephen Barton (Titanfall);50;_
text;titanfall;50;500;BT-7274 (Redux) - Stephen Barton (Titanfall 2);50;_
text;titanfall;50;600;Assets :;50;_
text;titanfall;50;650;Alucard on OpenGameArt;50;_
text;titanfall;50;700;Pzuh88 on DreamsTime;50;_
text;titanfall;50;750;JLH Fonts on 1001fonts;50;_
text;titanfall;50;800;Wolfenstein3D;50;_
text;titanfall;50;850;titanfall2;50;_
text;titanfall;50;900;Thank you for playing;100;_
button;button;1650;50;210;75;titanfall;Back;40;prev_scene