button;button;855;800;210;75;titanfall;quit;40;quit
button;button;855;500;210;75;titanfall;resume;40;start
button;button;855;400;210;75;titanfall;main menu;25;menu_start
button;button;855;600;210;75;titanfall;save;40;quit
button;button;855;700;210;75;titanfall;settings;30;settings
text;titanfall;50;50;PAUSE;100;_