text;titanfall;700;200;Music Volume:;50;_
button;little_button;960;300;90;75;arrows;Q;100;+volume
text;titanfall;830;300;ERROR;50;update_volume
button;little_button;700;300;90;75;arrows;R;100;-volume
text;titanfall;700;400;FOV:;50;_
button;little_button;960;500;90;75;arrows;Q;100;+fov
text;titanfall;830;500;ERROR;50;update_fov
button;little_button;700;500;90;75;arrows;R;100;-fov
text;titanfall;700;600;Window Mode:;50;_
text;titanfall;816;721;fullscreen;25;update_fullscreen
button;button;800;700;210;75;titanfall; ;25;fullscreen
button;button;1000;700;210;75;titanfall;apply;40;apply_settings
button;button;800;800;210;75;titanfall;Back;40;prev_scene
text;titanfall;50;50;Settings;100;_