button;little_button;922;500;90;75;arrows;Q;100;+volume
button;little_button;822;500;90;75;arrows;R;100;-volume
button;little_button;922;600;90;75;arrows;Q;100;+fov
button;little_button;822;600;90;75;arrows;R;100;-fov
button;button;922;700;210;75;titanfall;fullscreen;30;fullscreen
text;titanfall;50;50;Settings;100;_