button;button;855;800;210;75;titanfall;quit;40;quit
animation;electric_ball;766;495;84;84;0.2;6
button;button;855;500;210;75;titanfall;start;40;start
button;button;855;600;210;75;titanfall;load;40;load_player
animation;electric_ball;1065;495;84;84;0.3;6
button;button;855;700;210;75;titanfall;settings;30;settings
text;titanfall;50;50;Wolfenstein3D;100;_
