button;button;855;800;210;75;titanfall;quit;40;quit
button;button;855;500;210;75;titanfall;start;40;start
button;button;855;600;210;75;titanfall;load;40;load_player
button;button;855;700;210;75;titanfall;settings;30;settings
button;button;1650;50;210;75;titanfall;credits;30;credits
text;titanfall;50;50;Wolfenstein3D;100;_
animation;backgrounds;0;0;1920;1024;1;0.1;6272