MMMMMMMMMMMMMMMMMMMMMMMMM
M      M        M       M
M M    MMMMMM           M
M M         M   M       M
M M   MMM       M       M
M M    BBBBBBBBBMM MMMMMM
M B    B B B B BM   MMMMM
M M M  B   M   BM       M
M M       MMM       MMM M
M M    B   M   BM       M
M      B       BM   MMMMM
M      B BB BBBBMMMMMMMMM
MMMMMMMM MM     MMMMM   M
M        M        B     M
MMMMMM MMMM MMMMMMMMMMM M
MMMMMM MMMM MMMMMMMMMMM M
M        MM MM  M  M    M
M   MM   M  M  BM M   MMM
M    M   M MM   M  MM MMM
M M M    M  MM  B       M
M  B  MM MM  M  B  MM MMM
M M M    MMM M  B  M    M
M   M  M MMM M  M  M    M
M      M        M  M    M
MMMMMMMMMMMMMMMMMMMMMMMMM