MMMMMMMMMMMMMMMMMMMMMMMMM
B   M     M         M   M
MMM M MMM M MMMMMMM M M M
M M M   M M M   M   M M M
M M MMM MMM MMM M MMM M M
M M   M     M   M     M M
M MMM M MMMMM M MMMMMMM M
M   M M       M   M M   M
MMM M MMMMMMMBMMM M M M M
M   M   M       M   M M M
M MMMMM M       M MMM M M
M     M B       M M   M M
M MMM M M       M M MMM M
M   M   M       B M M   M
MMM MMMMM       MMM M MMM
M   M   M       M   M   M
M MMM M MMMBMMMMM MMMMM M
M   M M   M     M M     M
MMM MMM M MMM M M MMMMM M
M M M   M     M M     M M
M M M MMMMMMMMM MMMMM M M
M   M M M     M       M M
M MMM M M MMM MMMMMMMMM M
M     M     M           B
MMMMMMMMMMMMMMMMMMMMMMMMM